<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <script src="https://kit.fontawesome.com/8944e8b04f.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <header>
        <div class="header-row">
            <div class="official-site">
                <a href="https://arcticmonkeys.com/" target="_blank">Official Website</a>
            </div>
            <div id="logo">
                <img src="/public/logo.png" alt="arctic-monkeys-logo" style='height: 100%; width: 100%; object-fit: contain'/> 
            </div>
            <div class="social-media">
                
                    <a href="https://open.spotify.com/artist/7Ln80lUS6He07XvHI8qqHH?si=16H4iXaBRs6WwD3v1KV3WA&nd=1" target="_blank"><i class='fa fa-spotify' style='color: green'></i></a>

                    <a href="https://www.youtube.com/channel/UC-KTRBl9_6AX10-Y7IKwKdw" target="_blank"><i class="fa-brands fa-youtube" style='color: red'></i></a>

            </div>
        </div>

    </header>
         
    <p>Arctic Monkeys are an English rock band formed in Sheffield in 2002. The group consists of Alex Turner (lead vocals, guitar, keyboards), Jamie Cook (guitar, keyboards), Nick O'Malley (bass guitar, backing vocals), and Matt Helders (drums, backing vocals).</p>

    <div class="redirectables">

        <div>
            <a href="/views/works.html">Discography</a>
        </div>
        
        <div>
            <div id="band">
            <a href="/views/about.html">About</a>
                <img src="/public/band-image.jpg" alt="band" style='height: 100%; width: 100%; object-fit: contain'>
            </div>
        </div>
        
    </div>
        
</body>
</html>